In [39]:
# Import dependencies.
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

# Import and read the charity_data.csv.
application_df = pd.read_csv("./Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [40]:
# Drop the non-beneficial ID columns, 'EIN','STATUS', 'CLASSIFICATION', and 'APPLICATION_TYPE'.
application_df= application_df.drop(['EIN', 'STATUS', 'CLASSIFICATION', 'APPLICATION_TYPE'],1)
application_df.head()

c:\Users\Daddy\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

,NAME,AFFILIATION,USE_CASE,ORGANIZATION,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,Independent,ProductDev,Association,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,Independent,Preservation,Co-operative,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,CompanySponsored,ProductDev,Association,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,CompanySponsored,Preservation,Trust,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,Independent,Heathcare,Trust,100000-499999,N,142590,1

In [41]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
AFFILIATION                   6
USE_CASE                      5
ORGANIZATION                  4
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [42]:
name_counts = application_df.NAME.value_counts()
name_counts

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [43]:
# Determine which values to replace
replace_names = list(name_counts[name_counts < 100].index)
delete_names = list(name_counts[name_counts < 20].index)

for com in delete_names:
    application_df = application_df[application_df.NAME != com]

# Replace in DataFrame
for name in replace_names:
    application_df.NAME = application_df.NAME.replace(name,"Other")


# Check to make sure binning was successful
application_df.NAME.value_counts()

Other                                                                 3578
PARENT BOOSTER USA INC                                                1260
TOPS CLUB INC                                                          765
UNITED STATES BOWLING CONGRESS INC                                     700
WASHINGTON STATE UNIVERSITY                                            492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                        408
PTA TEXAS CONGRESS                                                     368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                          331
ALPHA PHI SIGMA                                                        313
TOASTMASTERS INTERNATIONAL                                             293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                      287
LITTLE LEAGUE BASEBALL INC                                             277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                               266
MOMS CLUB                                                              210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION     206
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                               197
FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                   166
KNIGHTS OF COLUMBUS                                                    158
HABITAT FOR HUMANITY INTERNATIONAL INC                                 154
TENNESSEE ORDER OF THE EASTERN STAR                                    151
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY                144
PTA UTAH CONGRESS                                                      140
THE UNITED STATES PONY CLUBS INC                                       136
CIVITAN INTERNATIONAL                                                  131
SIGMA BETA DELTA INC                                                   127
HONOR SOCIETY OF PHI KAPPA PHI                                         107
MONTANA 4-H FOUNDATION INC                                             107
WASHINGTON STATE GRANGE                                                106
UNIVERSITY OF WYOMING                                                  105
DEMOLAY INTERNATIONAL                                                  104
SERTOMA INC                                                            103
Name: NAME, dtype: int64

In [44]:
# Generate our categorical variable lists
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
application_cat

['NAME',
 'AFFILIATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [45]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names_out(application_cat)
encode_df.head()

,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN,NAME_CIVITAN INTERNATIONAL,NAME_DEMOLAY INTERNATIONAL,NAME_FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA,NAME_HABITAT FOR HUMANITY INTERNATIONAL INC,NAME_HONOR SOCIETY OF PHI KAPPA PHI,NAME_INTERNATIONAL ASSOCIATION OF LIONS CLUBS,NAME_INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [46]:
# Merge one-hot encoded features and drop the originals
application_df= application_df.merge(encode_df,left_index=True,right_index=True)
application_df = application_df.drop(columns = application_cat)
application_df.head()

,ASK_AMT,IS_SUCCESSFUL,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN,NAME_CIVITAN INTERNATIONAL,NAME_DEMOLAY INTERNATIONAL,NAME_FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA,NAME_HABITAT FOR HUMANITY INTERNATIONAL INC,NAME_HONOR SOCIETY OF PHI KAPPA PHI,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
9,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
12,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
19,376109,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
24,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
27,44004,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [47]:
# Split our preprocessed data into our features and target arrays
y = application_df.IS_SUCCESSFUL
X = application_df.drop(columns="IS_SUCCESSFUL")
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [48]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

### Compiling, Training and Evaluating the Model

In [49]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])

# Number_input_features
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation="relu", input_dim = number_input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=20, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=10, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_13 (Dense)            (None, 30)                1650

 dense_14 (Dense)            (None, 20)                620

 dense_15 (Dense)            (None, 10)                210

 dense_16 (Dense)            (None, 1)                 11

=================================================================
Total params: 2,491
Trainable params: 2,491
Non-trainable params: 0
_________________________________________________________________

In [50]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [51]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
93/93 [==============================] - 2s 1ms/step - loss: 0.5730 - accuracy: 0.7639
Epoch 2/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5452 - accuracy: 0.7639
Epoch 3/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5387 - accuracy: 0.7639
Epoch 4/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5354 - accuracy: 0.7639
Epoch 5/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5335 - accuracy: 0.7639
Epoch 6/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5324 - accuracy: 0.7639
Epoch 7/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5312 - accuracy: 0.7639
Epoch 8/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5302 - accuracy: 0.7639
Epoch 9/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5299 - accuracy: 0.7639
Epoch 10/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5291 - accuracy: 0.7639
Epoch 11/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5273 - accuracy: 0.7639
Epoch 12/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5277 - accuracy: 0.7639
Epoch 13/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5272 - accuracy: 0.7639
Epoch 14/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5270 - accuracy: 0.7639
Epoch 15/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5260 - accuracy: 0.7639
Epoch 16/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5261 - accuracy: 0.7629
Epoch 17/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5267 - accuracy: 0.7636
Epoch 18/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5256 - accuracy: 0.7649
Epoch 19/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5260 - accuracy: 0.7656
Epoch 20/100
93/93 [==============================] - 0s 2ms/step - loss: 0.5248 - accuracy: 0.7656
Epoch 21/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5246 - accuracy: 0.7666
Epoch 22/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5245 - accuracy: 0.7673
Epoch 23/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5240 - accuracy: 0.7670
Epoch 24/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5245 - accuracy: 0.7670
Epoch 25/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5240 - accuracy: 0.7673
Epoch 26/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5234 - accuracy: 0.7676
Epoch 27/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5233 - accuracy: 0.7680
Epoch 28/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5220 - accuracy: 0.7676
Epoch 29/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5225 - accuracy: 0.7676
Epoch 30/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5233 - accuracy: 0.7676
Epoch 31/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5222 - accuracy: 0.7683
Epoch 32/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5224 - accuracy: 0.7680
Epoch 33/100
93/93 [==============================] - 0s 2ms/step - loss: 0.5221 - accuracy: 0.7680
Epoch 34/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5233 - accuracy: 0.7680
Epoch 35/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5219 - accuracy: 0.7673
Epoch 36/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5218 - accuracy: 0.7693
Epoch 37/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5229 - accuracy: 0.7683
Epoch 38/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5219 - accuracy: 0.7687
Epoch 39/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5212 - accuracy: 0.7697
Epoch 40/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5204 - accuracy: 0.7683
Epoch 41/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5220 - accuracy: 0.7680
Epoch 42/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5212 - accuracy: 0.7690
Epoch 43/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5210 - accuracy: 0.7700
Epoch 44/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5208 - accuracy: 0.7700
Epoch 45/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5206 - accuracy: 0.7700
Epoch 46/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5200 - accuracy: 0.7707
Epoch 47/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5204 - accuracy: 0.7700
Epoch 48/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5207 - accuracy: 0.7703
Epoch 49/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5196 - accuracy: 0.7707
Epoch 50/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5192 - accuracy: 0.7703
Epoch 51/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5203 - accuracy: 0.7707
Epoch 52/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5195 - accuracy: 0.7710
Epoch 53/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5194 - accuracy: 0.7714
Epoch 54/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5198 - accuracy: 0.7714
Epoch 55/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5186 - accuracy: 0.7714
Epoch 56/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5197 - accuracy: 0.7717
Epoch 57/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5196 - accuracy: 0.7703
Epoch 58/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5181 - accuracy: 0.7690
Epoch 59/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5191 - accuracy: 0.7710
Epoch 60/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5187 - accuracy: 0.7720
Epoch 61/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5181 - accuracy: 0.7707
Epoch 62/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5177 - accuracy: 0.7710
Epoch 63/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5194 - accuracy: 0.7707
Epoch 64/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5187 - accuracy: 0.7717
Epoch 65/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5187 - accuracy: 0.7714
Epoch 66/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5183 - accuracy: 0.7714
Epoch 67/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5180 - accuracy: 0.7717
Epoch 68/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5178 - accuracy: 0.7714
Epoch 69/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5183 - accuracy: 0.7714
Epoch 70/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5188 - accuracy: 0.7714
Epoch 71/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5186 - accuracy: 0.7714
Epoch 72/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5173 - accuracy: 0.7710
Epoch 73/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5175 - accuracy: 0.7710
Epoch 74/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5176 - accuracy: 0.7717
Epoch 75/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5185 - accuracy: 0.7710
Epoch 76/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5183 - accuracy: 0.7707
Epoch 77/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5176 - accuracy: 0.7714
Epoch 78/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5186 - accuracy: 0.7707
Epoch 79/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5173 - accuracy: 0.7714
Epoch 80/100
93/93 [==============================] - 0s 2ms/step - loss: 0.5173 - accuracy: 0.7720
Epoch 81/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5169 - accuracy: 0.7714
Epoch 82/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5175 - accuracy: 0.7720
Epoch 83/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5178 - accuracy: 0.7714
Epoch 84/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5169 - accuracy: 0.7714
Epoch 85/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5167 - accuracy: 0.7714
Epoch 86/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5172 - accuracy: 0.7710
Epoch 87/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5169 - accuracy: 0.7710
Epoch 88/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5174 - accuracy: 0.7710
Epoch 89/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5159 - accuracy: 0.7703
Epoch 90/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5163 - accuracy: 0.7727
Epoch 91/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5164 - accuracy: 0.7710
Epoch 92/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5165 - accuracy: 0.7707
Epoch 93/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5162 - accuracy: 0.7720
Epoch 94/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5165 - accuracy: 0.7724
Epoch 95/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5167 - accuracy: 0.7714
Epoch 96/100
93/93 [==============================] - 0s 2ms/step - loss: 0.5159 - accuracy: 0.7717
Epoch 97/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5160 - accuracy: 0.7714
Epoch 98/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5162 - accuracy: 0.7717
Epoch 99/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5164 - accuracy: 0.7714
Epoch 100/100
93/93 [==============================] - 0s 1ms/step - loss: 0.5168 - accuracy: 0.7714

In [52]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

31/31 - 0s - loss: 0.6802 - accuracy: 0.7540 - 159ms/epoch - 5ms/step
Loss: 0.6802013516426086, Accuracy: 0.7540485858917236

In [53]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")